:root {
    --Orange-color: #FF5A00;
}



.nav-bar-top {

    background-color: #FFFFFF;
    height: 32px;
    padding: 0 10px;
}

.nav-bar-top .navbar {
    padding: 0 0 !important;
}

.nav-bar-top .top-nav-bar-left .nav-item a,
.top-nav-bar-right li a {

    color: var(--Orange-color) !important;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;

}

.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown-wraper {
    position: relative;
}

.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown {

    position: absolute;
    top: 32px;
    right: 0;
    width: auto;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown-wraper:hover .language-dropdown {
    
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown ul {
    width: 106px;
   
}
.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown li {
    
    
    padding: 10px;
    background-color: white;
    color: black;
    justify-content: end;
    height: 16px;

}

.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown li a {

    color: black !important;
    text-align: center;

}

.nav-bar-top .top-navbar-wraper .top-nav-bar-right .language-dropdown li a:hover {

    color: var(--Orange-color) !important;
}



.top-nav-bar-right .search-box ::placeholder {

    color: var(--Orange-color);
}

.top-nav-bar-right .search-box form {
    display: flex;
    gap: 5px;
   
}

.top-nav-bar-right .search-box input {

    background-color: transparent;
    border: none;
    width: 135px;
}

.top-nav-bar-right .search-box input:focus-visible {

   
    outline: none;
}

.top-nav-bar-left .nav-item a:hover {

    color: #674E9D !important;
}

.nav-bar-top .top-nav-bar-left li, .nav-bar-top .top-nav-bar-right li {

    display: flex;
    align-items: center;
    justify-content: end;
    
}

.top-nav-bar-left li span {
    width: 28px;
    height: 28px;
}

.top-nav-bar-right li span {
    width: 16px;
    height: 16px;
}

.top-nav-bar-right li .language-change-icon {
    margin-left: 5px;
    height: 8px;
}

.nav-bar-top .top-nav-bar-right li:first-child {

    background-color: #ffd5c0;

    color: var(--Orange-color);
    
    padding: 0 10px;
    height: 32px;
    gap: 10px;

}

.nav-bar-top .top-nav-bar-left {
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-bar-top .top-nav-bar-right {
    display: flex;
    gap: 15px;
}

.nav-bar-main {
    background-color: var(--Orange-color);

}

.nav-bar-main .navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-bar-top .top-navbar-wraper {
    display: flex;
    justify-content: space-between;
}

.nav-bar-main .navbar {
    display: flex;
    justify-content: space-between;
    height: 72px;

    align-items: center;
}


.nav-bar-main .navbar .Navigatin-toggle {

    border: none;
    background: none;
    display: none;
}

.nav-bar-main .navbar .responsive-hamburger {
    display: none;
}


.navbar .main-nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.main-nav-left ul {
    display: flex;
    gap: 20px;
}

.main-nav-left ul li:last-child::before {

    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #FDCE31;
    right: -2px;
    border-radius: 50%;
    top: 30px;
}

.content .row ul li:last-child::before {

    display: none;
}

.navbar .main-nav-left li {
    padding: 35px 0;
    position: relative;
}

.navbar .main-nav-left li a,
.navbar .main-nav-right li a {
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
}

.navbar .main-nav-left li a:hover,
.navbar .main-nav-right li a:hover{

    background-color: #FF7429;
    border-radius: 5px;
}

.navbar .main-nav-right li a {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navbar .main-nav-right {

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.header-slider-warper {
    background-image: url("../img/hero-img.jpg");
    width: 100%;
    height: 899px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-slider-warper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(133.09deg, rgba(0, 0, 0, 0.53) 26.84%, rgba(0, 0, 0, 0) 54.09%);

}

.header-slider-warper .banner-heading {
    font-size: 82px;
    font-weight: 800;
    color: white;
    max-width: 360px;
    line-height: 82px;
    position: absolute;
    top: 16%;
}

.header-slider-warper .banner-heading span {
    color: var(--Orange-color);
    margin: -20px;

}


/*Mega menu */
.main-nav-left .mega-menu-box {

    opacity: 0;
    visibility: hidden;
    position: relative;
   
    
}

.main-nav-left .mega-menu-box .navigation-drop-doodle {
    
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-nav-left .mega-menu-box::before {

    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFFFFF;
    top: 11px;
    left: 25px;
    z-index: 2;
}

.main-nav-left ul li:hover .mega-menu-box {

    opacity: 1;
    visibility: visible;
    top: 0;
    
    
}







.main-nav-left .mega-menu-box .content .row  a {

    color: var(--Orange-color);
    padding: 0;
}

.main-nav-left .mega-menu-box .content {

    position: absolute;
    top: 26px;
    width: 660px;

    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    padding: 50px 60px;
    left: -65px;
    min-height: 320px;
}

.main-nav-left .mega-menu-box .content header {

    font-size: 16px;
    font-weight: 800;
    color: var(--Orange-color);
    margin-bottom: 30px;
}

.main-nav-left .mega-menu-box .content header:hover {
    
    color: #674E9D;
}


.main-nav-left .mega-menu-box .content .row {
    flex: 1;
    padding-right: 40px;
}

.mega-menu-box .content .row ul {
    display: block;
}

.mega-menu-box .content .row ul li {

    margin: 14px 0;
    font-weight: 400;
    padding: 0;
}

.mega-menu-box .content .row ul li a {
    font-weight: 400;
    background-color: transparent;
    padding: 0;
}


.mega-menu-box .content .row ul li a:hover {
    color: #674E9D;
}

/*My Account Drop Down*/

/* .dropbtn {
    background-color: transparent;
    color: white;
   
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
  }
  
  .dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;} */